*{
  
   
}
.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 370px;
    margin-right: 360px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color:white;
    cursor: pointer;
    background-color: hsla(120, 60%, 70%, 0.4);
    /* background-color:cadetblue ;  */
  
    
    /* //transition: background .2s ease-in-out, border .2s ease-in-out; */
  }
  
  /* .drop-container:hover {
    background:cadetblue;
    border-color: #111;
  }
   */
  .drop-container:hover .drop-title {
    color:white;
  }
  
  .drop-title {
    color:white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }